{% extends 'app/base.html' %}

{% block content %}
<h1>{{ workoutrecord.menu }}</h1>
<p>メモ：{{ workoutrecord.memo }}</p>
<p>メモ：{{ workoutrecord.record_date }}</p>

{% for reps_form in reps_forms %}
<table>
    <thead>
        <tr>
            <th>{{ forloop.counter }}セット目</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <form method="post">
                {% csrf_token %}
                <td>{{ reps_form }}</td>
                <td><button class="btn btn-primary" type="submit">記録</button></td>
            </form>
        </tr>
    </tbody>
</table>
{% endfor %}

{% endblock %}